<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="search-container">
    <ion-searchbar placeholder="¿Qué leeremos hoy?" class="custom-searchbar"></ion-searchbar>
  </div>

  <ion-list-header>
    <ion-label>Seguir leyendo</ion-label>
  </ion-list-header>

  <swiper-container [options]="slideOpts" class="book-slides">
    <swiper-slide *ngFor="let book of recentBooks; trackBy: trackByBookId">
      <app-book-card
        [id]="book.id"
        [imageSrc]="book.imageSrc"
        [title]="book.title"
        [icon]="book.icon"
        [age]="book.age"
        [theme]="book.theme"
        [description]="book.description"
        (click)="onBookClick(book)">
      </app-book-card>
    </swiper-slide>
  </swiper-container>

  <ion-list-header>
    <ion-label>Recomendaciones</ion-label>
  </ion-list-header>

  <swiper-container [options]="slideOpts" class="book-slides">
    <swiper-slide *ngFor="let book of recommendedBooks; trackBy: trackByBookId">
      <app-book-card
        [id]="book.id"
        [imageSrc]="book.imageSrc"
        [title]="book.title"
        [icon]="book.icon"
        [age]="book.age"
        [theme]="book.theme"
        [description]="book.description"
        (click)="onBookClick(book)">
      </app-book-card>
    </swiper-slide>
  </swiper-container>
</ion-content>
