<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title >
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="search-container">
    <ion-searchbar placeholder="¿Qué leeremos hoy?" class="custom-searchbar"></ion-searchbar>
  </div>

  <ion-list-header>
    <ion-label>Seguir leyendo</ion-label>
  </ion-list-header>

  <swiper-container [options]="slideOpts" class="book-slides">
    <swiper-slide>
      <swiper-slide>
        <app-book-card 
          imageSrc="https://images.pexels.com/photos/5490778/pexels-photo-5490778.jpeg"
          title="Caperucita Roja" 
          icon="logo-ionic"
          age="+4 años" 
          theme="Clásicos"
          description="Lorem ipsum, dolor sit amet consectetur adipisicing elit.">
        </app-book-card>
      </swiper-slide>

    </swiper-slide>
    <swiper-slide>
      <app-book-card 
          imageSrc="https://images.pexels.com/photos/5490778/pexels-photo-5490778.jpeg"
          title="Patito feo" 
          icon="logo-ionic"
          age="+3 años" 
          theme="Infantil"
          description="Lorem ipsum, dolor sit amet consectetur adipisicing elit.">
        </app-book-card>
    </swiper-slide>
    <swiper-slide>
      <app-book-card 
          imageSrc="https://images.pexels.com/photos/5490778/pexels-photo-5490778.jpeg"
          title="los 3 cerditos" 
          icon="logo-ionic"
          age="+4 años" 
          theme="Infantil"
          description="Lorem ipsum, dolor sit amet consectetur adipisicing elit.">
        </app-book-card>
    </swiper-slide>
    <swiper-slide>
      <ion-card>
        <img src="https://images.pexels.com/photos/1319854/pexels-photo-1319854.jpeg" alt="Cenicienta" />
        <ion-card-header>
          <ion-card-title>Cenicienta</ion-card-title>
          <ion-card-subtitle>Cuento de hadas</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </swiper-slide>
  </swiper-container>

  <ion-list-header>
    <ion-label>Recomendaciones</ion-label>
  </ion-list-header>

  <swiper-container [options]="slideOpts" class="book-slides">
    <swiper-slide>
      <app-book-card 
          imageSrc="https://images.pexels.com/photos/5490778/pexels-photo-5490778.jpeg"
          title="Patito feo" 
          icon="logo-ionic"
          age="+3 años" 
          theme="Infantil"
          description="Lorem ipsum, dolor sit amet consectetur adipisicing elit.">
        </app-book-card>
    </swiper-slide>
    <swiper-slide>
      <app-book-card 
          imageSrc="https://images.pexels.com/photos/5490778/pexels-photo-5490778.jpeg"
          title="Patito feo" 
          icon="logo-ionic"
          age="+3 años" 
          theme="Infantil"
          description="Lorem ipsum, dolor sit amet consectetur adipisicing elit.">
        </app-book-card>
    </swiper-slide>
    <swiper-slide>
      <app-book-card 
          imageSrc="https://images.pexels.com/photos/5490778/pexels-photo-5490778.jpeg"
          title="Patito feo" 
          icon="logo-ionic"
          age="+3 años" 
          theme="Infantil"
          description="Lorem ipsum, dolor sit amet consectetur adipisicing elit.">
        </app-book-card>
    </swiper-slide>
  </swiper-container>
</ion-content>