<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>
      Biblioteca
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="main-heading">
    Mis Cuentos
  </div>

  <div class="card-grid">
    <app-book-card
      *ngFor="let cuento of cuentos"
      [title]="cuento.title"
      [description]="cuento.description"
      [imageSrc]="cuento.imageSrc"
      [icon]="cuento.icon"
      [age]="cuento.age"
      [theme]="cuento.theme">
    </app-book-card>
  </div>

</ion-content>
