<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>
      Biblioteca
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="main-heading">
    Mis Cuentos
  </div>

  <div class="card-grid">
    <app-book-card
      *ngFor="let book of books; trackBy: trackByBookId"
      [id]="book.id"
      [title]="book.title"
      [description]="book.description"
      [imageSrc]="book.imageSrc"
      [icon]="book.icon"
      [age]="book.age"
      [theme]="book.theme"
      (click)="onBookClick(book)">
    </app-book-card>
  </div>
</ion-content>
