<ion-content fullscreen class="horizontal-layout">
  <ion-button 
    (click)="prevPage()" 
    [disabled]="currentPageIndex === 0" 
    class="side-button rotated-button">
    Anterior
  </ion-button>

  <div *ngIf="currentPage; else noPages" class="page-container">
    <div class="rotated-content">
      <img [src]="currentPage.imageUrl" alt="Imagen página" class="page-image" />
      <div class="page-text">
        <h2>Página {{ currentPageIndex + 1 }} de {{ pages.length }}</h2>
        <p>{{ currentPage.text }}</p>
      </div>
    </div>
  </div>

  <ion-button 
    (click)="nextPage()" 
    [disabled]="currentPageIndex === pages.length - 1" 
    class="side-button rotated-button">
    Siguiente
  </ion-button>

  <ng-template #noPages>
    <p>No hay páginas para mostrar.</p>
  </ng-template>
</ion-content>
