@font-face {
  font-family: 'Inter-Regular';
  src: url('../assets/fonts/Inter/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('../assets/fonts/Inter/Inter_18pt-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Italic';
  src: url('../assets/fonts/Inter/Inter_18pt-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
