:root {
  --ion-color-primary: #9b4dca; /* Morado personalizado */
  --ion-color-primary-rgb: 155, 77, 202;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #8845b3;
  --ion-color-primary-tint: #a75fd0;

  /* Opcional: otros colores */
  --ion-color-secondary: #f0a500;
  --ion-color-tertiary: #ff6f91;
}
