<ion-content [fullscreen]="true">
  <div id="header_1">
    <div id="header">
      <div id="app-bar">
        <ion-toolbar>
          <ion-buttons>
            <ion-back-button icon="arrow-back" text="" defaultHref="/welcome"></ion-back-button>
          </ion-buttons>
        </ion-toolbar>
      </div>
      <h1>Ingresar</h1>
      <p>Ingresa a tu cuenta para <br />descubrir multiples historias</p>
    </div>
    <div id="logo">
      <img src="assets/logomama.png" alt="" />
    </div>
  </div>

  <div class="wrapper">
    <ion-card class="form-wrapper">
      <ion-card-content>
        <ion-item>
          <ion-icon id="email" name="mail"></ion-icon>
          <ion-input type="email" placeholder="Ingresa tu email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="lock-closed"></ion-icon>
          <ion-input id="password" type="password" placeholder="Ingresa tu contraseña"></ion-input>
        </ion-item>
        <ion-button (click)="goToHome()" expand="block">Ingresar </ion-button>
      </ion-card-content>
    </ion-card>

    <div class="line-text">
      <span class="lines"></span>
      <span class="text"> O ingresa usando</span>
    </div>

    <ion-card class="social-wrapper">
      <ion-card-content>
        <div class="socials">
          <ion-button class="btn-fb">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-button>
          <ion-button class="btn-go">
            <ion-icon name="logo-google"></ion-icon>
          </ion-button>
          <ion-button class="btn-ph">
            <ion-icon name="call-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>