<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back" text="" (click)="goBack()" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Loading spinner -->
  <div *ngIf="isLoading" class="loading-container">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Cargando cuento...</p>
  </div>

  <!-- Book detail content -->
  <div *ngIf="!isLoading && (book$ | async) as book" class="book-detail-container">
    
    <!-- Hero section with image -->
    <div class="hero-section">
      <div class="book-image-container">
        <img [src]="book.imageSrc" [alt]="book.title" class="book-cover">
        
      </div>
    </div>

    <!-- Book information -->
    <div class="book-info-section">
      <h1 class="book-title">{{ book.title }}</h1>
      <div class="book-meta">
        <span class="theme-text">{{ book.theme }}</span>
        <div class="age-badge" [style.background-color]="getAgeColor(book.age)">
          {{ book.age }}
        </div>
      </div>

      

      <!-- Action buttons -->
      <div class="action-buttons">
        <ion-button  class="read-button">
          <ion-icon name="book-outline" slot="start"></ion-icon>
          Leer
        </ion-button>
        
        <ion-button  class="narrator-button">
          <ion-icon name="heart-outline"></ion-icon>
          <h1 class="btn-text">Narrador</h1>
          <h2 class="btn-narrator">Mamá</h2>
          <ion-icon name="heart-outline"></ion-icon>
        </ion-button>
      </div>

      <div class="description-section">
        <h3>Descripción</h3>
        <p class="book-description">{{ book.description }}</p>
      </div>
    </div>
  </div>

  <!-- Book not found -->
  <div *ngIf="!isLoading && !(book$ | async)" class="not-found-container">
    <ion-icon name="book-outline" size="large" class="not-found-icon"></ion-icon>
    <h2>Cuento no encontrado</h2>
    <p>Lo sentimos, no pudimos encontrar el cuento que buscas.</p>
    <ion-button (click)="goBack()" color="primary">
      <ion-icon name="arrow-back" slot="start"></ion-icon>
      Volver
    </ion-button>
  </div>

</ion-content>
