ion-content {
    background: #ffffff;
}

ion-toolbar {

  --padding-start: 0;
  --padding-end: 0;
  width: 100%;
  --min-height: 80px;
  --background: #7A1FA0;

  ion-title {
    width: auto;
    font-size: 30px;
    padding: 0 20px;
    position: absolute;
    left: 0;
    bottom: 10px;
    height: auto;
    display: flex;
    align-items: flex-end;


  }
}

.hero-section {
    height: 300px;

    .book-image-container {
        width: 100%;
        height: 300px;
        overflow: hidden;
        position: relative;
    }

    .book-cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }


}

.book-detail-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.book-info-section {
    background: #ffffff;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* Ocupa el espacio restante */
    width: 100%;
    padding: 16px;
    box-sizing: border-box;

    h1.book-title {
        color: #303030;
        font-weight: bold;
        font-size: 30px;
    }

    .book-meta {
        display: flex;
        flex-direction: row;
        justify-content: center;

        span {
            margin: 10px;
            background: #4ced5f;
            border-radius: 20px;
            padding: 5px 8px;
        }

        .age-badge {
            margin: 10px;
            border-radius: 20px;
            padding: 5px 8px;
        }

    }

    .action-buttons {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 90%;
        max-width: 380px;

        .read-button {
            font-size: 20px;
            font-weight: bold;
            color: #eaeaea;
            --border-radius: 60px;
            text-transform: none;
            padding-top: 10px;

            ion-icon {
                padding: 0 10px;
            }

            p {
                margin: 0;
            }
        }

        .narrator-button {
            display: flex;
            justify-content: space-between;
            --background: #f1f1f1;
            --border-radius: 20px;
            text-transform: none;
            width: 90%;
            padding: 10px 10px;
            --color: #383838;

            .left-content {
                justify-content: flex-start;
                display: flex;
                flex-direction: row;
                align-items: center;
                flex: 1;

                ion-icon {
                    font-size: 22px;
                    padding-right: 4px;
                }
            }

            .right-content {
                justify-content: flex-end;
                display: flex;
                flex-direction: row;
                align-items: center;
                flex: 1;

                ion-icon {
                    font-size: 26px;
                }
            }

            .btn-text {
                font-size: 14px;
                font-weight: bold;
                margin: 0;

            }

            .btn-narrator {
                font-size: 12px;
                margin: 8px;
            }
        }


    }

    .description-section {
        width: 70%;

        .book-description {
            text-align: justify;
            color: #000000;
        }
    }
}